[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "predtoolsTS"]
	path = predtoolsTS
	url = https://github.com/avm00016/predtoolsts
